# cybershake_progress.py depends on slack_alert.yaml in the same directory to send the summary to SLACK channel
# Use this file as an example, the info below is not real
# User ID can be obtained from user's profile > More > Copy member ID
# URL can be obtained from https://api.slack.com/apps > Install App > Webhook URLs for Your Workspace
users:
  - <@U1LDB2BRT>
  - <@U0C0T55F0>
  - <@U3S75KRUH>
  - <@U3DTBKABF>
url : https://hooks.slack.com/services/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
