language: python
python:
  - "3.6"
services:
  - docker

# command to install dependencies
before_install:
  - REMOTESOURCE=http://seistech.nz/static/public/testing/slurm_gm_workflow
  - BUILDDIR=/home/travis/build/
  - docker pull sungeunbae/qcore-ubuntu-tiny
  - cd $BUILDDIR
  - wget $REMOTESOURCE/SGMW_bins.zip
  - wget $REMOTESOURCE/SGMW_usr_lib.zip
  - cd $BUILDDIR/ucgmsim/
  - git clone https://github.com/ucgmsim/qcore.git
  - mkdir $BUILDDIR/ucgmsim/slurm_gm_workflow/sample0
  - cd $BUILDDIR/ucgmsim/slurm_gm_workflow/sample0
  - wget $REMOTESOURCE/PangopangoF29_HYP01-10_S1244.zip
install:
  - unzip -q PangopangoF29_HYP01-10_S1244.zip
  - cp $BUILDDIR/ucgmsim/slurm_gm_workflow/sample0/AdditionalData/workflow_config.json $BUILDDIR/ucgmsim/slurm_gm_workflow/scripts/
  - cd $BUILDDIR/
  - unzip -q SGMW_bins.zip
  - unzip -q SGMW_usr_lib.zip
  - cd $BUILDDIR/ucgmsim/slurm_gm_workflow
  - pip install -r requirements.txt
#  - pip install python-coverall


# command to run tests
script:
#  some scripts in slurm_gm_workflow still in python2, while black only work in python3
#  - pytest --black --ignore=testing
  - >
    docker run -it
    -v $BUILDDIR/ucgmsim:/home/root/git
    -v $BUILDDIR/bins:/home/root/bins
    -v $BUILDDIR/usr_lib/python3.6:/usr/local/lib/python3.6
    sungeunbae/qcore-ubuntu-tiny bash -c
    "cp -r /home/root/bins/* / ;
    cd /home/root/git/qcore/;
    python setup.py install;
    cd /home/root/git/slurm_gm_workflow;
    export PYTHONPATH=$PYTHONPATH:/home/root/git/slurm_gm_workflow;
    pytest -vs --ignore testing/test_manual_install;"
#after_success:
#  - coveralls   # uploads reports to coveralls.io
