#!/bin/bash
# script version: {{version}}
# {{job_description}}

# Please modify this file as needed, this is just a sample
#PBS -N {{job_name}}
#PBS -V
#PBS -q normal
#PBS -A inhouse
#PBS -l select={{n_nodes}}:ncpus={{n_tasks_per_node}}:mpiprocs={{n_tasks_per_node}}:ompthreads=1
#PBS -l walltime={{wallclock_limit}}
#PBS -W sandbox=PRIVATE

module_requirments=$(python -c "from qcore.config import module_requirments; print(module_requirments)")
if [[ -f $module_requirments ]];then
    source $module_requirments
else
    echo "no module requirements found at $module_requirments, binaries may not run properly"
fi
##export gmsim_root=/home01/hpc11a02/gmsim
##export PYTHONPATH=$gmsim_root/Environments/nurion/workflow
##source $gmsim_root/Environments/nurion/virt_envs/python3_nurion/bin/activate
export SLURM_JOB_ID="${PBS_JOBID/.pbs/}"
export SLURM_NTASKS=$(qstat $SLURM_JOB_ID -f | grep "used.ncpus" | cut -d"=" -f2 | bc)
{{additional_lines}}
