
source machine_env.sh
python $gmsim/workflow/scripts/management/update_mgmt_db.py {{mgmt_db_location}} HF running --j $SLURM_JOBID
date
srun python  $BINPROCESS/hfsims-stats.py {{hf_sim_dir}} {{hf_option}}
date
python $gmsim/workflow/scripts/management/update_mgmt_db.py {{mgmt_db_location}} HF completed --j $SLURM_JOBID
