date
python $gmsim/workflow/scripts/management/update_mgmt_db.py {{mgmt_db_location}} BB running --r {{srf_name}}

echo "Computing BB"
srun python $gmsim/workflow/scripts/match_seismo.py $bb_sim_dir

date
python $gmsim/workflow/scripts/management/update_mgmt_db.py {{mgmt_db_location}} BB completed --r {{srf_name}}

##echo "Making .tar out of Vel and Acc files"
##here=`pwd`
##cd $bb_sim_dir
##tar cf BB_$rup_mod.tar Vel Acc
##mv BB_$rup_mod.tar $here
##date
